git+https://github.com/amaranth-lang/amaranth.git#egg=amaranth[builtin-yosys]
git+https://github.com/amaranth-lang/amaranth-boards.git
git+https://github.com/amaranth-lang/amaranth-soc.git
git+https://github.com/amaranth-community-unofficial/amlib.git
yowasp-yosys
yowasp-nextpnr-ice40

